openapi: 3.2.0
info:
  title: Adobe Experience Cloud Adobe Campaign Content API
  description: The Adobe Campaign API provides RESTful access to Adobe Campaign Standard and Classic capabilities for managing marketing campaigns, profiles, services, workflows, transactional messages, and content. It enables programmatic creation and execution of email, SMS, and push notification campaigns, subscriber management, and real-time transactional messaging.
  version: 1.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/campaign-standard-apis/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://mc.adobe.io/{organization}
  description: Adobe Campaign Production API
  variables:
    organization:
      default: myorg
      description: Your Adobe Campaign organization identifier.
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Content
  description: Operations for managing email and landing page content
paths:
  /campaign/email:
    get:
      operationId: listEmails
      summary: Adobe Campaign Adobe Experience Cloud List Email Deliveries
      description: Returns a paginated list of email deliveries including their subject, status, and scheduling metadata.
      tags:
      - Content
      parameters:
      - name: _lineCount
        in: query
        schema:
          type: integer
          default: 25
      responses:
        '200':
          description: A paginated list of email deliveries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailList'
              examples:
                listEmails200Example:
                  summary: Default listEmails 200 response
                  x-microcks-default: true
                  value:
                    content:
                    - example
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /campaign/email/{emailPKey}:
    get:
      operationId: getEmail
      summary: Adobe Campaign Adobe Experience Cloud Get an Email Delivery
      description: Retrieves the full details of an email delivery by its primary key, including the subject, HTML content, sender, and delivery status.
      tags:
      - Content
      parameters:
      - name: emailPKey
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Email delivery details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
              examples:
                getEmail200Example:
                  summary: Default getEmail 200 response
                  x-microcks-default: true
                  value:
                    PKey: example
                    subject: example
                    htmlContent: example
                    status: active
                    sender:
                      name: Example Name
                      email: user@example.com
                    created: '2025-03-15T14:30:00Z'
        '404':
          description: Email delivery not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    EmailList:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Email'
    Email:
      type: object
      properties:
        PKey:
          type: string
        subject:
          type: string
        htmlContent:
          type: string
        status:
          type: string
        sender:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
        created:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
