openapi: 3.2.0
info:
  title: Adobe Experience Cloud Adobe Target Environments API
  description: The Adobe Target API provides programmatic access to Adobe Target for managing activities, audiences, offers, properties, and environments. It enables developers to create and manage A/B tests, experience targeting, multivariate tests, and automated personalization activities, as well as deliver personalized content via the delivery API.
  version: 1.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/target/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://mc.adobe.io/{tenant}
  description: Adobe Target Admin API
  variables:
    tenant:
      default: mytenant
      description: Your Adobe Target tenant name.
- url: https://delivery.adobetarget.com
  description: Adobe Target Delivery API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Environments
  description: Operations for managing environments
paths:
  /target/environments:
    get:
      operationId: listEnvironments
      summary: Adobe Target Adobe Experience Cloud List Environments
      description: Returns a list of environments (development, staging, production) configured for the Adobe Target tenant.
      tags:
      - Environments
      responses:
        '200':
          description: A list of environments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentList'
              examples:
                listEnvironments200Example:
                  summary: Default listEnvironments 200 response
                  x-microcks-default: true
                  value:
                    environments:
                    - id: 1
                      name: Example Name
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    EnvironmentList:
      type: object
      properties:
        environments:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
