openapi: 3.2.0
info:
  title: Adobe Experience Cloud Adobe Target Properties API
  description: The Adobe Target API provides programmatic access to Adobe Target for managing activities, audiences, offers, properties, and environments. It enables developers to create and manage A/B tests, experience targeting, multivariate tests, and automated personalization activities, as well as deliver personalized content via the delivery API.
  version: 1.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/target/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://mc.adobe.io/{tenant}
  description: Adobe Target Admin API
  variables:
    tenant:
      default: mytenant
      description: Your Adobe Target tenant name.
- url: https://delivery.adobetarget.com
  description: Adobe Target Delivery API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Properties
  description: Operations for managing enterprise properties
paths:
  /target/properties:
    get:
      operationId: listProperties
      summary: Adobe Target Adobe Experience Cloud List Properties
      description: Returns a list of enterprise properties configured for the Adobe Target tenant. Properties are used with enterprise permissions to control access to activities and offers.
      tags:
      - Properties
      responses:
        '200':
          description: A list of properties.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyList'
              examples:
                listProperties200Example:
                  summary: Default listProperties 200 response
                  x-microcks-default: true
                  value:
                    properties:
                    - id: 1
                      name: Example Name
                      token: example
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PropertyList:
      type: object
      properties:
        properties:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              token:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
