openapi: 3.1.0
info:
  title: Adobe Experience Cloud Adobe Analytics 2.0 Activities Properties API
  description: The Adobe Analytics 2.0 API provides programmatic access to Adobe Analytics reporting, management, and configuration capabilities. It enables developers to retrieve report data, manage report suites, configure calculated metrics, segments, and dimensions, and administer users and permissions within Adobe Analytics. The API uses OAuth 2.0 authentication via Adobe I/O and returns JSON responses.
  version: 2.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/analytics-apis/docs/2.0/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://analytics.adobe.io
  description: Adobe Analytics Production API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Properties
  description: Operations for managing enterprise properties
paths:
  /target/properties:
    get:
      operationId: listProperties
      summary: Adobe Target Adobe Experience Cloud List Properties
      description: Returns a list of enterprise properties configured for the Adobe Target tenant. Properties are used with enterprise permissions to control access to activities and offers.
      tags:
      - Properties
      responses:
        '200':
          description: A list of properties.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyList'
              examples:
                listProperties200Example:
                  summary: Default listProperties 200 response
                  x-microcks-default: true
                  value:
                    properties:
                    - id: 1
                      name: Example Name
                      token: example
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PropertyList:
      type: object
      properties:
        properties:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              token:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via Adobe I/O.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Adobe I/O client API key.
