openapi: 3.2.0
info:
  title: Adobe Experience Cloud Adobe Journey Optimizer Collections API
  description: The Adobe Journey Optimizer API enables programmatic management of customer journeys, messages, campaigns, offers, and content across channels including email, push, SMS, and in-app. It provides endpoints for creating and managing journey orchestrations, configuring offer decisioning, managing content templates, and accessing journey execution data.
  version: 1.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/journey-optimizer-apis/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://platform.adobe.io
  description: Adobe Journey Optimizer Production API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Collections
  description: Operations for managing offer collections
paths:
  /offer/collections:
    get:
      operationId: listCollections
      summary: Adobe Journey Optimizer Adobe Experience Cloud List Collections
      description: Returns a list of offer collections. Collections are groups of offers that share common tags or qualifiers.
      tags:
      - Collections
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      responses:
        '200':
          description: A list of collections.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionList'
              examples:
                listCollections200Example:
                  summary: Default listCollections 200 response
                  x-microcks-default: true
                  value:
                    collections:
                    - example
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createCollection
      summary: Adobe Journey Optimizer Adobe Experience Cloud Create a Collection
      description: Creates a new offer collection with the specified filter criteria to group related offers.
      tags:
      - Collections
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionInput'
            examples:
              createCollectionRequestExample:
                summary: Default createCollection request
                x-microcks-default: true
                value:
                  name: Example Name
                  filter: {}
      responses:
        '201':
          description: Collection created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
              examples:
                createCollection201Example:
                  summary: Default createCollection 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Name
                    filter: {}
        '400':
          description: Invalid collection definition.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Collection:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        filter:
          type: object
    CollectionInput:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        filter:
          type: object
    CollectionList:
      type: object
      properties:
        collections:
          type: array
          items:
            $ref: '#/components/schemas/Collection'
  parameters:
    sandboxHeader:
      name: x-sandbox-name
      in: header
      required: true
      description: The sandbox name.
      schema:
        type: string
        default: prod
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
