openapi: 3.1.0
info:
  title: Adobe Experience Cloud Adobe Analytics 2.0 Activities Workflows API
  description: The Adobe Analytics 2.0 API provides programmatic access to Adobe Analytics reporting, management, and configuration capabilities. It enables developers to retrieve report data, manage report suites, configure calculated metrics, segments, and dimensions, and administer users and permissions within Adobe Analytics. The API uses OAuth 2.0 authentication via Adobe I/O and returns JSON responses.
  version: 2.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/analytics-apis/docs/2.0/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://analytics.adobe.io
  description: Adobe Analytics Production API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Workflows
  description: Operations for managing automated workflows
paths:
  /campaign/workflow:
    get:
      operationId: listWorkflows
      summary: Adobe Campaign Adobe Experience Cloud List Workflows
      description: Returns a paginated list of workflows configured in Adobe Campaign. Each workflow includes its ID, label, status, and schedule information.
      tags:
      - Workflows
      parameters:
      - name: _lineCount
        in: query
        schema:
          type: integer
          default: 25
      responses:
        '200':
          description: A paginated list of workflows.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowList'
              examples:
                listWorkflows200Example:
                  summary: Default listWorkflows 200 response
                  x-microcks-default: true
                  value:
                    content:
                    - example
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /campaign/workflow/{workflowPKey}:
    get:
      operationId: getWorkflow
      summary: Adobe Campaign Adobe Experience Cloud Get a Workflow
      description: Retrieves the details of a single workflow by its primary key, including its activities, transitions, and execution history.
      tags:
      - Workflows
      parameters:
      - name: workflowPKey
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Workflow details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
              examples:
                getWorkflow200Example:
                  summary: Default getWorkflow 200 response
                  x-microcks-default: true
                  value:
                    PKey: example
                    label: example
                    status: started
                    startDate: '2025-03-15T14:30:00Z'
                    created: '2025-03-15T14:30:00Z'
        '404':
          description: Workflow not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /campaign/workflow/{workflowPKey}/commands:
    post:
      operationId: executeWorkflowCommand
      summary: Adobe Campaign Adobe Experience Cloud Execute a Workflow Command
      description: Executes a command on a workflow such as start, pause, resume, or stop. The command triggers the corresponding state transition in the workflow execution engine.
      tags:
      - Workflows
      parameters:
      - name: workflowPKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - method
              properties:
                method:
                  type: string
                  enum:
                  - start
                  - pause
                  - resume
                  - stop
            examples:
              executeWorkflowCommandRequestExample:
                summary: Default executeWorkflowCommand request
                x-microcks-default: true
                value:
                  method: start
      responses:
        '200':
          description: Workflow command executed successfully.
        '400':
          description: Invalid command for the current workflow state.
        '404':
          description: Workflow not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Workflow:
      type: object
      properties:
        PKey:
          type: string
        label:
          type: string
        status:
          type: string
          enum:
          - started
          - paused
          - stopped
          - finished
          - error
        startDate:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
    WorkflowList:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Workflow'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via Adobe I/O.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Adobe I/O client API key.
