openapi: 3.1.0
info:
  title: Adobe Experience Cloud Adobe Analytics 2.0 Activities Collections API
  description: The Adobe Analytics 2.0 API provides programmatic access to Adobe Analytics reporting, management, and configuration capabilities. It enables developers to retrieve report data, manage report suites, configure calculated metrics, segments, and dimensions, and administer users and permissions within Adobe Analytics. The API uses OAuth 2.0 authentication via Adobe I/O and returns JSON responses.
  version: 2.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/analytics-apis/docs/2.0/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://analytics.adobe.io
  description: Adobe Analytics Production API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Collections
  description: Operations for managing offer collections
paths:
  /offer/collections:
    get:
      operationId: listCollections
      summary: Adobe Journey Optimizer Adobe Experience Cloud List Collections
      description: Returns a list of offer collections. Collections are groups of offers that share common tags or qualifiers.
      tags:
      - Collections
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      responses:
        '200':
          description: A list of collections.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionList'
              examples:
                listCollections200Example:
                  summary: Default listCollections 200 response
                  x-microcks-default: true
                  value:
                    collections:
                    - example
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createCollection
      summary: Adobe Journey Optimizer Adobe Experience Cloud Create a Collection
      description: Creates a new offer collection with the specified filter criteria to group related offers.
      tags:
      - Collections
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionInput'
            examples:
              createCollectionRequestExample:
                summary: Default createCollection request
                x-microcks-default: true
                value:
                  name: Example Name
                  filter: {}
      responses:
        '201':
          description: Collection created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
              examples:
                createCollection201Example:
                  summary: Default createCollection 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Name
                    filter: {}
        '400':
          description: Invalid collection definition.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CollectionInput:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        filter:
          type: object
    CollectionList:
      type: object
      properties:
        collections:
          type: array
          items:
            $ref: '#/components/schemas/Collection'
    Collection:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        filter:
          type: object
  parameters:
    sandboxHeader:
      name: x-sandbox-name
      in: header
      required: true
      description: The sandbox name.
      schema:
        type: string
        default: prod
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via Adobe I/O.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Adobe I/O client API key.
