openapi: 3.2.0
info:
  title: Adobe Experience Cloud Adobe Experience Platform Classes API
  description: The Adobe Experience Platform API provides RESTful access to the core services of Adobe Experience Platform, including data ingestion, unified profile management, identity resolution, dataset management, schema registry, query service, and segmentation. It enables developers to build and manage real-time customer profiles, ingest batch and streaming data, define XDM schemas, and orchestrate data workflows programmatically.
  version: 1.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/experience-platform-apis/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://platform.adobe.io
  description: Adobe Experience Platform Production API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Classes
  description: Operations for managing XDM classes
paths:
  /data/foundation/schemaregistry/tenant/classes:
    get:
      operationId: listClasses
      summary: Adobe Experience Platform Adobe Experience Cloud List Classes
      description: Returns a paginated list of XDM classes in the tenant container. Classes define the base structure and behavior type for schemas.
      tags:
      - Classes
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      responses:
        '200':
          description: A list of XDM classes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassList'
              examples:
                listClasses200Example:
                  summary: Default listClasses 200 response
                  x-microcks-default: true
                  value:
                    results:
                    - $id: abc123
                      title: example
                      description: example
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    sandboxHeader:
      name: x-sandbox-name
      in: header
      required: true
      description: The name of the sandbox to operate in.
      schema:
        type: string
        default: prod
  schemas:
    ClassList:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              $id:
                type: string
              title:
                type: string
              description:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
