openapi: 3.1.0
info:
  title: Adobe Experience Cloud Adobe Analytics 2.0 Activities Classes API
  description: The Adobe Analytics 2.0 API provides programmatic access to Adobe Analytics reporting, management, and configuration capabilities. It enables developers to retrieve report data, manage report suites, configure calculated metrics, segments, and dimensions, and administer users and permissions within Adobe Analytics. The API uses OAuth 2.0 authentication via Adobe I/O and returns JSON responses.
  version: 2.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/analytics-apis/docs/2.0/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://analytics.adobe.io
  description: Adobe Analytics Production API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Classes
  description: Operations for managing XDM classes
paths:
  /data/foundation/schemaregistry/tenant/classes:
    get:
      operationId: listClasses
      summary: Adobe Experience Platform Adobe Experience Cloud List Classes
      description: Returns a paginated list of XDM classes in the tenant container. Classes define the base structure and behavior type for schemas.
      tags:
      - Classes
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      responses:
        '200':
          description: A list of XDM classes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassList'
              examples:
                listClasses200Example:
                  summary: Default listClasses 200 response
                  x-microcks-default: true
                  value:
                    results:
                    - $id: abc123
                      title: example
                      description: example
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ClassList:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              $id:
                type: string
              title:
                type: string
              description:
                type: string
  parameters:
    sandboxHeader:
      name: x-sandbox-name
      in: header
      required: true
      description: The name of the sandbox to operate in.
      schema:
        type: string
        default: prod
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via Adobe I/O.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Adobe I/O client API key.
