openapi: 3.1.0
info:
  title: Adobe Experience Cloud Adobe Analytics 2.0 Activities Sandboxes API
  description: The Adobe Analytics 2.0 API provides programmatic access to Adobe Analytics reporting, management, and configuration capabilities. It enables developers to retrieve report data, manage report suites, configure calculated metrics, segments, and dimensions, and administer users and permissions within Adobe Analytics. The API uses OAuth 2.0 authentication via Adobe I/O and returns JSON responses.
  version: 2.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/analytics-apis/docs/2.0/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://analytics.adobe.io
  description: Adobe Analytics Production API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Sandboxes
  description: Operations for managing platform sandboxes
paths:
  /data/foundation/sandbox-management/sandboxes:
    get:
      operationId: listSandboxes
      summary: Adobe Experience Platform Adobe Experience Cloud List Sandboxes
      description: Returns a list of all sandboxes available in the current IMS organization, including development and production sandboxes.
      tags:
      - Sandboxes
      parameters: []
      responses:
        '200':
          description: A list of sandboxes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxList'
              examples:
                listSandboxes200Example:
                  summary: Default listSandboxes 200 response
                  x-microcks-default: true
                  value:
                    sandboxes:
                    - example
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createSandbox
      summary: Adobe Experience Platform Adobe Experience Cloud Create a Sandbox
      description: Creates a new development sandbox within the IMS organization. Production sandboxes can only be created by system administrators.
      tags:
      - Sandboxes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - title
              - type
              properties:
                name:
                  type: string
                title:
                  type: string
                type:
                  type: string
                  enum:
                  - development
                  - production
            examples:
              createSandboxRequestExample:
                summary: Default createSandbox request
                x-microcks-default: true
                value:
                  name: Example Name
                  title: example
                  type: development
      responses:
        '201':
          description: Sandbox created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
              examples:
                createSandbox201Example:
                  summary: Default createSandbox 201 response
                  x-microcks-default: true
                  value:
                    name: Example Name
                    title: example
                    type: standard
                    state: example
                    region: example
        '400':
          description: Invalid sandbox configuration.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/foundation/sandbox-management/sandboxes/{sandboxName}:
    get:
      operationId: getSandbox
      summary: Adobe Experience Platform Adobe Experience Cloud Get a Sandbox
      description: Retrieves details for a single sandbox including its name, title, type, state, and region.
      tags:
      - Sandboxes
      parameters:
      - name: sandboxName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Sandbox details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
              examples:
                getSandbox200Example:
                  summary: Default getSandbox 200 response
                  x-microcks-default: true
                  value:
                    name: Example Name
                    title: example
                    type: standard
                    state: example
                    region: example
        '404':
          description: Sandbox not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteSandbox
      summary: Adobe Experience Platform Adobe Experience Cloud Delete a Sandbox
      description: Deletes a development sandbox and all its contained resources. Production sandboxes cannot be deleted, only reset.
      tags:
      - Sandboxes
      parameters:
      - name: sandboxName
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Sandbox deleted successfully.
        '404':
          description: Sandbox not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SandboxList:
      type: object
      properties:
        sandboxes:
          type: array
          items:
            $ref: '#/components/schemas/Sandbox'
    Sandbox:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        type:
          type: string
        state:
          type: string
        region:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via Adobe I/O.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Adobe I/O client API key.
