openapi: 3.1.0
info:
  title: Adobe Experience Cloud Adobe Analytics 2.0 Activities Messages API
  description: The Adobe Analytics 2.0 API provides programmatic access to Adobe Analytics reporting, management, and configuration capabilities. It enables developers to retrieve report data, manage report suites, configure calculated metrics, segments, and dimensions, and administer users and permissions within Adobe Analytics. The API uses OAuth 2.0 authentication via Adobe I/O and returns JSON responses.
  version: 2.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/analytics-apis/docs/2.0/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://analytics.adobe.io
  description: Adobe Analytics Production API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Messages
  description: Operations for managing channel messages
paths:
  /messaging/messages:
    get:
      operationId: listMessages
      summary: Adobe Journey Optimizer Adobe Experience Cloud List Messages
      description: Returns a paginated list of message configurations across all channels (email, push, SMS, in-app). Each message includes its ID, name, channel, and status.
      tags:
      - Messages
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: A paginated list of messages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
              examples:
                listMessages200Example:
                  summary: Default listMessages 200 response
                  x-microcks-default: true
                  value:
                    messages:
                    - example
                    totalCount: 1
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createMessage
      summary: Adobe Journey Optimizer Adobe Experience Cloud Create a Message
      description: Creates a new channel message configuration with the specified channel type, content, and surface settings.
      tags:
      - Messages
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageInput'
            examples:
              createMessageRequestExample:
                summary: Default createMessage request
                x-microcks-default: true
                value:
                  name: Example Name
                  channel: email
                  content: {}
      responses:
        '201':
          description: Message created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              examples:
                createMessage201Example:
                  summary: Default createMessage 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Name
                    channel: example
                    status: active
                    content: {}
        '400':
          description: Invalid message definition.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messaging/messages/{messageId}:
    get:
      operationId: getMessage
      summary: Adobe Journey Optimizer Adobe Experience Cloud Get a Message
      description: Retrieves the full definition of a channel message by its ID, including the content, channel configuration, and delivery settings.
      tags:
      - Messages
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      - name: messageId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Message details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              examples:
                getMessage200Example:
                  summary: Default getMessage 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Name
                    channel: example
                    status: active
                    content: {}
        '404':
          description: Message not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteMessage
      summary: Adobe Journey Optimizer Adobe Experience Cloud Delete a Message
      description: Deletes a message configuration that is not in use by active journeys or campaigns.
      tags:
      - Messages
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      - name: messageId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Message deleted successfully.
        '404':
          description: Message not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Message:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        channel:
          type: string
        status:
          type: string
        content:
          type: object
    MessageList:
      type: object
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/Message'
        totalCount:
          type: integer
    MessageInput:
      type: object
      required:
      - name
      - channel
      properties:
        name:
          type: string
        channel:
          type: string
          enum:
          - email
          - push
          - sms
          - inApp
        content:
          type: object
  parameters:
    sandboxHeader:
      name: x-sandbox-name
      in: header
      required: true
      description: The sandbox name.
      schema:
        type: string
        default: prod
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via Adobe I/O.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Adobe I/O client API key.
