openapi: 3.1.0
info:
  title: Adobe Experience Cloud Adobe Journey Optimizer API
  description: >-
    The Adobe Journey Optimizer API enables programmatic management of customer
    journeys, messages, campaigns, offers, and content across channels including
    email, push, SMS, and in-app. It provides endpoints for creating and
    managing journey orchestrations, configuring offer decisioning, managing
    content templates, and accessing journey execution data.
  version: 1.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/journey-optimizer-apis/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
  - url: https://platform.adobe.io
    description: Adobe Journey Optimizer Production API
security:
  - bearerAuth: []
  - apiKey: []
tags:
  - name: Journeys
    description: Operations for managing customer journeys
  - name: Campaigns
    description: Operations for managing marketing campaigns
  - name: Messages
    description: Operations for managing channel messages
  - name: Offers
    description: Operations for offer decisioning
  - name: Placements
    description: Operations for managing offer placements
  - name: Collections
    description: Operations for managing offer collections
  - name: Decision Rules
    description: Operations for managing offer eligibility rules
  - name: Content Templates
    description: Operations for managing reusable content templates
paths:
  /journey/journeys:
    get:
      operationId: listJourneys
      summary: Adobe Experience Cloud List journeys
      description: >-
        Returns a paginated list of all customer journeys configured in the
        organization. Each journey includes its ID, name, status, and version.
      tags:
        - Journeys
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: page
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: A paginated list of journeys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JourneyList'
        '401':
          description: Authentication credentials are missing or invalid.
    post:
      operationId: createJourney
      summary: Adobe Experience Cloud Create a journey
      description: >-
        Creates a new customer journey with the specified entry conditions,
        activities, and channel actions. The journey starts in draft status
        and must be published to become active.
      tags:
        - Journeys
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JourneyInput'
      responses:
        '201':
          description: Journey created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Journey'
        '400':
          description: Invalid journey definition.
  /journey/journeys/{journeyId}:
    get:
      operationId: getJourney
      summary: Adobe Experience Cloud Get a journey
      description: >-
        Retrieves the full definition of a customer journey by its ID, including
        entry conditions, activities, transitions, and channel configurations.
      tags:
        - Journeys
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
        - name: journeyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Journey details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Journey'
        '404':
          description: Journey not found.
    put:
      operationId: updateJourney
      summary: Adobe Experience Cloud Update a journey
      description: >-
        Updates a draft journey with new configuration. Only journeys in draft
        status can be modified.
      tags:
        - Journeys
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
        - name: journeyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JourneyInput'
      responses:
        '200':
          description: Journey updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Journey'
        '400':
          description: Invalid journey definition or journey is not in draft status.
        '404':
          description: Journey not found.
    delete:
      operationId: deleteJourney
      summary: Adobe Experience Cloud Delete a journey
      description: >-
        Deletes a journey in draft or closed status. Active journeys must be
        stopped before deletion.
      tags:
        - Journeys
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
        - name: journeyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Journey deleted successfully.
        '404':
          description: Journey not found.
        '409':
          description: Journey is active and cannot be deleted.
  /journey/journeys/{journeyId}/publish:
    post:
      operationId: publishJourney
      summary: Adobe Experience Cloud Publish a journey
      description: >-
        Publishes a draft journey, making it live and ready to receive
        qualifying profiles. Published journeys begin processing entry
        events immediately.
      tags:
        - Journeys
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
        - name: journeyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Journey published successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Journey'
        '400':
          description: Journey cannot be published due to validation errors.
        '404':
          description: Journey not found.
  /journey/journeys/{journeyId}/stop:
    post:
      operationId: stopJourney
      summary: Adobe Experience Cloud Stop a journey
      description: >-
        Stops an active journey. No new profiles will enter the journey, and
        existing profiles will exit at the next activity.
      tags:
        - Journeys
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
        - name: journeyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Journey stopped successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Journey'
        '404':
          description: Journey not found.
  /campaign/campaigns:
    get:
      operationId: listCampaigns
      summary: Adobe Experience Cloud List campaigns
      description: >-
        Returns a paginated list of marketing campaigns. Each campaign includes
        its ID, name, channel, status, and schedule.
      tags:
        - Campaigns
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: A paginated list of campaigns.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignList'
        '401':
          description: Authentication credentials are missing or invalid.
    post:
      operationId: createCampaign
      summary: Adobe Experience Cloud Create a campaign
      description: >-
        Creates a new marketing campaign with the specified channel, audience,
        content, and schedule configuration.
      tags:
        - Campaigns
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignInput'
      responses:
        '201':
          description: Campaign created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '400':
          description: Invalid campaign definition.
  /campaign/campaigns/{campaignId}:
    get:
      operationId: getCampaign
      summary: Adobe Experience Cloud Get a campaign
      description: >-
        Retrieves the full definition of a marketing campaign by its ID.
      tags:
        - Campaigns
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Campaign details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '404':
          description: Campaign not found.
    delete:
      operationId: deleteCampaign
      summary: Adobe Experience Cloud Delete a campaign
      description: >-
        Deletes a campaign that is in draft or completed status.
      tags:
        - Campaigns
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Campaign deleted successfully.
        '404':
          description: Campaign not found.
  /messaging/messages:
    get:
      operationId: listMessages
      summary: Adobe Experience Cloud List messages
      description: >-
        Returns a paginated list of message configurations across all channels
        (email, push, SMS, in-app). Each message includes its ID, name,
        channel, and status.
      tags:
        - Messages
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: A paginated list of messages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
        '401':
          description: Authentication credentials are missing or invalid.
    post:
      operationId: createMessage
      summary: Adobe Experience Cloud Create a message
      description: >-
        Creates a new channel message configuration with the specified channel
        type, content, and surface settings.
      tags:
        - Messages
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageInput'
      responses:
        '201':
          description: Message created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: Invalid message definition.
  /messaging/messages/{messageId}:
    get:
      operationId: getMessage
      summary: Adobe Experience Cloud Get a message
      description: >-
        Retrieves the full definition of a channel message by its ID, including
        the content, channel configuration, and delivery settings.
      tags:
        - Messages
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
        - name: messageId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Message details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '404':
          description: Message not found.
    delete:
      operationId: deleteMessage
      summary: Adobe Experience Cloud Delete a message
      description: >-
        Deletes a message configuration that is not in use by active journeys
        or campaigns.
      tags:
        - Messages
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
        - name: messageId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Message deleted successfully.
        '404':
          description: Message not found.
  /offer/offers:
    get:
      operationId: listOffers
      summary: Adobe Experience Cloud List offers
      description: >-
        Returns a paginated list of personalized and fallback offers in the
        offer library. Each offer includes its ID, name, status, and
        representation details.
      tags:
        - Offers
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: A paginated list of offers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferList'
        '401':
          description: Authentication credentials are missing or invalid.
    post:
      operationId: createOffer
      summary: Adobe Experience Cloud Create an offer
      description: >-
        Creates a new personalized offer with eligibility rules, content
        representations, and priority settings for use in offer decisioning.
      tags:
        - Offers
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferInput'
      responses:
        '201':
          description: Offer created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
        '400':
          description: Invalid offer definition.
  /offer/offers/{offerId}:
    get:
      operationId: getOffer
      summary: Adobe Experience Cloud Get an offer
      description: >-
        Retrieves the full definition of an offer by its ID, including content
        representations, eligibility rules, and constraints.
      tags:
        - Offers
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
        - name: offerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Offer details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
        '404':
          description: Offer not found.
    put:
      operationId: updateOffer
      summary: Adobe Experience Cloud Update an offer
      description: >-
        Updates an existing offer with new content, eligibility rules, or
        priority settings.
      tags:
        - Offers
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
        - name: offerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferInput'
      responses:
        '200':
          description: Offer updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
        '404':
          description: Offer not found.
    delete:
      operationId: deleteOffer
      summary: Adobe Experience Cloud Delete an offer
      description: >-
        Deletes an offer from the library. Offers in use by active decisions
        cannot be deleted.
      tags:
        - Offers
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
        - name: offerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Offer deleted successfully.
        '404':
          description: Offer not found.
  /offer/placements:
    get:
      operationId: listPlacements
      summary: Adobe Experience Cloud List placements
      description: >-
        Returns a list of offer placements. Placements define the channel and
        content format where offers can be displayed.
      tags:
        - Placements
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
      responses:
        '200':
          description: A list of placements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacementList'
        '401':
          description: Authentication credentials are missing or invalid.
    post:
      operationId: createPlacement
      summary: Adobe Experience Cloud Create a placement
      description: >-
        Creates a new offer placement with the specified channel and content
        type configuration.
      tags:
        - Placements
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlacementInput'
      responses:
        '201':
          description: Placement created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Placement'
        '400':
          description: Invalid placement definition.
  /offer/collections:
    get:
      operationId: listCollections
      summary: Adobe Experience Cloud List collections
      description: >-
        Returns a list of offer collections. Collections are groups of offers
        that share common tags or qualifiers.
      tags:
        - Collections
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
      responses:
        '200':
          description: A list of collections.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionList'
        '401':
          description: Authentication credentials are missing or invalid.
    post:
      operationId: createCollection
      summary: Adobe Experience Cloud Create a collection
      description: >-
        Creates a new offer collection with the specified filter criteria
        to group related offers.
      tags:
        - Collections
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionInput'
      responses:
        '201':
          description: Collection created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          description: Invalid collection definition.
  /offer/decisionRules:
    get:
      operationId: listDecisionRules
      summary: Adobe Experience Cloud List decision rules
      description: >-
        Returns a list of decision rules used to define offer eligibility
        criteria based on profile attributes and context data.
      tags:
        - Decision Rules
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
      responses:
        '200':
          description: A list of decision rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionRuleList'
        '401':
          description: Authentication credentials are missing or invalid.
    post:
      operationId: createDecisionRule
      summary: Adobe Experience Cloud Create a decision rule
      description: >-
        Creates a new decision rule using a PQL expression to define eligibility
        criteria for offer personalization.
      tags:
        - Decision Rules
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionRuleInput'
      responses:
        '201':
          description: Decision rule created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionRule'
        '400':
          description: Invalid decision rule definition.
  /content/templates:
    get:
      operationId: listContentTemplates
      summary: Adobe Experience Cloud List content templates
      description: >-
        Returns a paginated list of reusable content templates for email, push,
        SMS, and in-app channels.
      tags:
        - Content Templates
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: A paginated list of content templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTemplateList'
        '401':
          description: Authentication credentials are missing or invalid.
    post:
      operationId: createContentTemplate
      summary: Adobe Experience Cloud Create a content template
      description: >-
        Creates a new reusable content template for a specified channel with
        HTML or JSON content.
      tags:
        - Content Templates
      parameters:
        - $ref: '#/components/parameters/sandboxHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentTemplateInput'
      responses:
        '201':
          description: Content template created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTemplate'
        '400':
          description: Invalid template definition.
components:
  parameters:
    sandboxHeader:
      name: x-sandbox-name
      in: header
      required: true
      description: The sandbox name.
      schema:
        type: string
        default: prod
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    JourneyList:
      type: object
      properties:
        journeys:
          type: array
          items:
            $ref: '#/components/schemas/Journey'
        totalCount:
          type: integer
    Journey:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum:
            - draft
            - live
            - stopped
            - closed
        version:
          type: string
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
    JourneyInput:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        description:
          type: string
        entryCondition:
          type: object
        activities:
          type: array
          items:
            type: object
    CampaignList:
      type: object
      properties:
        campaigns:
          type: array
          items:
            $ref: '#/components/schemas/Campaign'
        totalCount:
          type: integer
    Campaign:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        channel:
          type: string
          enum:
            - email
            - push
            - sms
            - inApp
        status:
          type: string
          enum:
            - draft
            - scheduled
            - live
            - completed
        schedule:
          type: object
          properties:
            startDate:
              type: string
              format: date-time
            endDate:
              type: string
              format: date-time
    CampaignInput:
      type: object
      required:
        - name
        - channel
      properties:
        name:
          type: string
        description:
          type: string
        channel:
          type: string
          enum:
            - email
            - push
            - sms
            - inApp
        audienceId:
          type: string
        schedule:
          type: object
    MessageList:
      type: object
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/Message'
        totalCount:
          type: integer
    Message:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        channel:
          type: string
        status:
          type: string
        content:
          type: object
    MessageInput:
      type: object
      required:
        - name
        - channel
      properties:
        name:
          type: string
        channel:
          type: string
          enum:
            - email
            - push
            - sms
            - inApp
        content:
          type: object
    OfferList:
      type: object
      properties:
        offers:
          type: array
          items:
            $ref: '#/components/schemas/Offer'
        totalCount:
          type: integer
    Offer:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
            - draft
            - approved
            - archived
        representations:
          type: array
          items:
            type: object
            properties:
              channel:
                type: string
              placement:
                type: string
              content:
                type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        priority:
          type: integer
    OfferInput:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        representations:
          type: array
          items:
            type: object
        eligibilityRule:
          type: string
        priority:
          type: integer
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
    PlacementList:
      type: object
      properties:
        placements:
          type: array
          items:
            $ref: '#/components/schemas/Placement'
    Placement:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        channel:
          type: string
        contentType:
          type: string
    PlacementInput:
      type: object
      required:
        - name
        - channel
        - contentType
      properties:
        name:
          type: string
        channel:
          type: string
        contentType:
          type: string
    CollectionList:
      type: object
      properties:
        collections:
          type: array
          items:
            $ref: '#/components/schemas/Collection'
    Collection:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        filter:
          type: object
    CollectionInput:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        filter:
          type: object
    DecisionRuleList:
      type: object
      properties:
        decisionRules:
          type: array
          items:
            $ref: '#/components/schemas/DecisionRule'
    DecisionRule:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        condition:
          type: string
    DecisionRuleInput:
      type: object
      required:
        - name
        - condition
      properties:
        name:
          type: string
        description:
          type: string
        condition:
          type: string
    ContentTemplateList:
      type: object
      properties:
        templates:
          type: array
          items:
            $ref: '#/components/schemas/ContentTemplate'
        totalCount:
          type: integer
    ContentTemplate:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        channel:
          type: string
        content:
          type: object
        createdAt:
          type: string
          format: date-time
    ContentTemplateInput:
      type: object
      required:
        - name
        - channel
      properties:
        name:
          type: string
        channel:
          type: string
          enum:
            - email
            - push
            - sms
            - inApp
        content:
          type: object
