openapi: 3.2.0
info:
  title: Adobe Experience Cloud Adobe Experience Platform Batches API
  description: The Adobe Experience Platform API provides RESTful access to the core services of Adobe Experience Platform, including data ingestion, unified profile management, identity resolution, dataset management, schema registry, query service, and segmentation. It enables developers to build and manage real-time customer profiles, ingest batch and streaming data, define XDM schemas, and orchestrate data workflows programmatically.
  version: 1.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/experience-platform-apis/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://platform.adobe.io
  description: Adobe Experience Platform Production API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Batches
  description: Operations for batch data ingestion
paths:
  /data/foundation/import/batches:
    post:
      operationId: createBatch
      summary: Adobe Experience Platform Adobe Experience Cloud Create a Batch
      description: Creates a new batch for data ingestion into a specified dataset. Returns a batch ID that can be used to upload files and signal batch completion.
      tags:
      - Batches
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - datasetId
              - inputFormat
              properties:
                datasetId:
                  type: string
                inputFormat:
                  type: object
                  properties:
                    format:
                      type: string
                      enum:
                      - parquet
                      - json
                      - csv
            examples:
              createBatchRequestExample:
                summary: Default createBatch request
                x-microcks-default: true
                value:
                  datasetId: abc123
                  inputFormat:
                    format: parquet
      responses:
        '201':
          description: Batch created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
              examples:
                createBatch201Example:
                  summary: Default createBatch 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    status: loading
                    created: '2025-03-15T14:30:00Z'
                    completed: '2025-03-15T14:30:00Z'
        '400':
          description: Invalid batch configuration.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/foundation/import/batches/{batchId}:
    get:
      operationId: getBatch
      summary: Adobe Experience Platform Adobe Experience Cloud Get Batch Status
      description: Retrieves the current status and metadata for a batch ingestion operation identified by its batch ID.
      tags:
      - Batches
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      - name: batchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Batch status returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
              examples:
                getBatch200Example:
                  summary: Default getBatch 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    status: loading
                    created: '2025-03-15T14:30:00Z'
                    completed: '2025-03-15T14:30:00Z'
        '404':
          description: Batch not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Batch:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
          - loading
          - staging
          - success
          - failed
          - abandoned
        created:
          type: string
          format: date-time
        completed:
          type: string
          format: date-time
  parameters:
    sandboxHeader:
      name: x-sandbox-name
      in: header
      required: true
      description: The name of the sandbox to operate in.
      schema:
        type: string
        default: prod
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
