openapi: 3.1.0
info:
  title: Adobe Experience Cloud Adobe Analytics 2.0 Activities Transactional Messages API
  description: The Adobe Analytics 2.0 API provides programmatic access to Adobe Analytics reporting, management, and configuration capabilities. It enables developers to retrieve report data, manage report suites, configure calculated metrics, segments, and dimensions, and administer users and permissions within Adobe Analytics. The API uses OAuth 2.0 authentication via Adobe I/O and returns JSON responses.
  version: 2.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/analytics-apis/docs/2.0/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://analytics.adobe.io
  description: Adobe Analytics Production API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Transactional Messages
  description: Operations for sending real-time transactional messages
paths:
  /campaign/mcAdobe/{transactionalMessageId}:
    post:
      operationId: sendTransactionalMessage
      summary: Adobe Campaign Adobe Experience Cloud Send a Transactional Message
      description: Triggers a real-time transactional message to a recipient. Transactional messages are used for event-driven communications such as order confirmations, password resets, and shipping notifications.
      tags:
      - Transactional Messages
      parameters:
      - name: transactionalMessageId
        in: path
        required: true
        description: The transactional message template identifier.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionalMessageRequest'
            examples:
              sendTransactionalMessageRequestExample:
                summary: Default sendTransactionalMessage request
                x-microcks-default: true
                value:
                  email: user@example.com
                  ctx: {}
      responses:
        '200':
          description: Transactional message queued for delivery.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionalMessageResponse'
              examples:
                sendTransactionalMessage200Example:
                  summary: Default sendTransactionalMessage 200 response
                  x-microcks-default: true
                  value:
                    PKey: example
                    eventId: abc123
                    status: pending
                    email: user@example.com
        '400':
          description: Invalid message request.
        '404':
          description: Transactional message template not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /campaign/mcAdobe/{transactionalMessageId}/{eventId}:
    get:
      operationId: getTransactionalMessageStatus
      summary: Adobe Campaign Adobe Experience Cloud Get Transactional Message Status
      description: Retrieves the delivery status of a previously sent transactional message by its event ID.
      tags:
      - Transactional Messages
      parameters:
      - name: transactionalMessageId
        in: path
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        required: true
        description: The event ID returned when the message was triggered.
        schema:
          type: string
      responses:
        '200':
          description: Message status returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionalMessageResponse'
              examples:
                getTransactionalMessageStatus200Example:
                  summary: Default getTransactionalMessageStatus 200 response
                  x-microcks-default: true
                  value:
                    PKey: example
                    eventId: abc123
                    status: pending
                    email: user@example.com
        '404':
          description: Message event not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    TransactionalMessageRequest:
      type: object
      required:
      - email
      - ctx
      properties:
        email:
          type: string
          description: Recipient email address.
        ctx:
          type: object
          description: Context data for personalizing the transactional message.
    TransactionalMessageResponse:
      type: object
      properties:
        PKey:
          type: string
        eventId:
          type: string
        status:
          type: string
          enum:
          - pending
          - processing
          - delivered
          - failed
        email:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via Adobe I/O.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Adobe I/O client API key.
