openapi: 3.1.0
info:
  title: Adobe Experience Cloud Adobe Analytics 2.0 Activities Schemas API
  description: The Adobe Analytics 2.0 API provides programmatic access to Adobe Analytics reporting, management, and configuration capabilities. It enables developers to retrieve report data, manage report suites, configure calculated metrics, segments, and dimensions, and administer users and permissions within Adobe Analytics. The API uses OAuth 2.0 authentication via Adobe I/O and returns JSON responses.
  version: 2.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/analytics-apis/docs/2.0/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://analytics.adobe.io
  description: Adobe Analytics Production API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Schemas
  description: Operations for managing XDM schemas via the Schema Registry
paths:
  /data/foundation/schemaregistry/tenant/schemas:
    get:
      operationId: listSchemas
      summary: Adobe Experience Platform Adobe Experience Cloud List Schemas
      description: Returns a paginated list of XDM schemas defined in the tenant container. Each schema entry includes its title, description, and meta information such as the schema ID and version.
      tags:
      - Schemas
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      - name: limit
        in: query
        description: Maximum number of results per page.
        schema:
          type: integer
          default: 20
      - name: start
        in: query
        description: Pagination cursor for the next page of results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated list of schemas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaList'
              examples:
                listSchemas200Example:
                  summary: Default listSchemas 200 response
                  x-microcks-default: true
                  value:
                    results:
                    - example
                    _page:
                      count: 1
        '401':
          description: Authentication credentials are missing or invalid.
        '403':
          description: Insufficient permissions.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createSchema
      summary: Adobe Experience Platform Adobe Experience Cloud Create a Schema
      description: Creates a new XDM schema in the tenant container. The request body must include the schema title, allOf references to a base class, and any mixin or field group references.
      tags:
      - Schemas
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchemaInput'
            examples:
              createSchemaRequestExample:
                summary: Default createSchema request
                x-microcks-default: true
                value:
                  title: example
                  description: example
                  type: standard
                  allOf:
                  - $ref: example
      responses:
        '201':
          description: Schema created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
              examples:
                createSchema201Example:
                  summary: Default createSchema 201 response
                  x-microcks-default: true
                  value:
                    $id: abc123
                    title: example
                    description: example
                    type: standard
                    meta:altId: abc123
                    version: example
        '400':
          description: Invalid schema definition.
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/foundation/schemaregistry/tenant/schemas/{schemaId}:
    get:
      operationId: getSchema
      summary: Adobe Experience Platform Adobe Experience Cloud Get a Schema
      description: Retrieves the full definition of an XDM schema by its URL-encoded schema ID, including all field definitions, mixins, and class references.
      tags:
      - Schemas
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      - name: schemaId
        in: path
        required: true
        description: URL-encoded schema meta:altId or $id.
        schema:
          type: string
      responses:
        '200':
          description: Schema definition returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
              examples:
                getSchema200Example:
                  summary: Default getSchema 200 response
                  x-microcks-default: true
                  value:
                    $id: abc123
                    title: example
                    description: example
                    type: standard
                    meta:altId: abc123
                    version: example
        '404':
          description: Schema not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateSchema
      summary: Adobe Experience Platform Adobe Experience Cloud Update a Schema
      description: Replaces the entire definition of an existing XDM schema with the provided request body.
      tags:
      - Schemas
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      - name: schemaId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchemaInput'
            examples:
              updateSchemaRequestExample:
                summary: Default updateSchema request
                x-microcks-default: true
                value:
                  title: example
                  description: example
                  type: standard
                  allOf:
                  - $ref: example
      responses:
        '200':
          description: Schema updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
              examples:
                updateSchema200Example:
                  summary: Default updateSchema 200 response
                  x-microcks-default: true
                  value:
                    $id: abc123
                    title: example
                    description: example
                    type: standard
                    meta:altId: abc123
                    version: example
        '400':
          description: Invalid schema definition.
        '404':
          description: Schema not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteSchema
      summary: Adobe Experience Platform Adobe Experience Cloud Delete a Schema
      description: Deletes a tenant-defined XDM schema. Only schemas that are not referenced by datasets or other resources can be deleted.
      tags:
      - Schemas
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      - name: schemaId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Schema deleted successfully.
        '404':
          description: Schema not found.
        '409':
          description: Schema is in use and cannot be deleted.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Schema:
      type: object
      properties:
        $id:
          type: string
        title:
          type: string
        description:
          type: string
        type:
          type: string
        meta:altId:
          type: string
        version:
          type: string
    SchemaInput:
      type: object
      required:
      - title
      - type
      - allOf
      properties:
        title:
          type: string
        description:
          type: string
        type:
          type: string
        allOf:
          type: array
          items:
            type: object
            properties:
              $ref:
                type: string
    SchemaList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Schema'
        _page:
          type: object
          properties:
            count:
              type: integer
  parameters:
    sandboxHeader:
      name: x-sandbox-name
      in: header
      required: true
      description: The name of the sandbox to operate in.
      schema:
        type: string
        default: prod
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via Adobe I/O.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Adobe I/O client API key.
