openapi: 3.2.0
info:
  title: Adobe Experience Cloud Adobe Campaign Metadata API
  description: The Adobe Campaign API provides RESTful access to Adobe Campaign Standard and Classic capabilities for managing marketing campaigns, profiles, services, workflows, transactional messages, and content. It enables programmatic creation and execution of email, SMS, and push notification campaigns, subscriber management, and real-time transactional messaging.
  version: 1.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/campaign-standard-apis/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://mc.adobe.io/{organization}
  description: Adobe Campaign Production API
  variables:
    organization:
      default: myorg
      description: Your Adobe Campaign organization identifier.
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Metadata
  description: Operations for retrieving resource metadata
paths:
  /campaign/profileAndServicesExt/resourceType:
    get:
      operationId: listMetadata
      summary: Adobe Campaign Adobe Experience Cloud List Resource Metadata
      description: Returns metadata about the available custom resources and their fields in the Adobe Campaign data model. Useful for discovering extended profile attributes and custom resource schemas.
      tags:
      - Metadata
      responses:
        '200':
          description: Resource metadata returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      properties:
                        PKey:
                          type: string
                        name:
                          type: string
                        label:
                          type: string
              examples:
                listMetadata200Example:
                  summary: Default listMetadata 200 response
                  x-microcks-default: true
                  value:
                    content:
                    - PKey: example
                      name: Example Name
                      label: example
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
