openapi: 3.1.0
info:
  title: Adobe Experience Cloud Adobe Analytics 2.0 Activities Users API
  description: The Adobe Analytics 2.0 API provides programmatic access to Adobe Analytics reporting, management, and configuration capabilities. It enables developers to retrieve report data, manage report suites, configure calculated metrics, segments, and dimensions, and administer users and permissions within Adobe Analytics. The API uses OAuth 2.0 authentication via Adobe I/O and returns JSON responses.
  version: 2.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/analytics-apis/docs/2.0/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://analytics.adobe.io
  description: Adobe Analytics Production API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Users
  description: Operations for managing analytics users
paths:
  /api/{companyId}/users:
    get:
      operationId: listUsers
      summary: Adobe Analytics Adobe Experience Cloud List Users
      description: Returns a paginated list of users in the Analytics company. Each user entry includes the user ID, login name, email, and assigned permission groups.
      tags:
      - Users
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
      - name: page
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: A paginated list of users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
              examples:
                listUsers200Example:
                  summary: Default listUsers 200 response
                  x-microcks-default: true
                  value:
                    content:
                    - example
                    totalElements: 1
                    totalPages: 1
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/{companyId}/users/{userId}:
    get:
      operationId: getUser
      summary: Adobe Analytics Adobe Experience Cloud Get a User
      description: Retrieves details for a single user identified by user ID, including their login name, email, admin status, and permission group assignments.
      tags:
      - Users
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                getUser200Example:
                  summary: Default getUser 200 response
                  x-microcks-default: true
                  value:
                    id: 1
                    loginId: abc123
                    email: user@example.com
                    firstName: Example Name
                    lastName: Example Name
                    admin: true
        '404':
          description: User not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        loginId:
          type: string
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        admin:
          type: boolean
    UserList:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/User'
        totalElements:
          type: integer
        totalPages:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via Adobe I/O.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Adobe I/O client API key.
