openapi: 3.1.0
info:
  title: Adobe Experience Cloud Adobe Analytics 2.0 Activities Identities API
  description: The Adobe Analytics 2.0 API provides programmatic access to Adobe Analytics reporting, management, and configuration capabilities. It enables developers to retrieve report data, manage report suites, configure calculated metrics, segments, and dimensions, and administer users and permissions within Adobe Analytics. The API uses OAuth 2.0 authentication via Adobe I/O and returns JSON responses.
  version: 2.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/analytics-apis/docs/2.0/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://analytics.adobe.io
  description: Adobe Analytics Production API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Identities
  description: Operations for identity namespace management
paths:
  /data/foundation/identity/namespaces:
    get:
      operationId: listIdentityNamespaces
      summary: Adobe Experience Platform Adobe Experience Cloud List Identity Namespaces
      description: Returns a list of all identity namespaces available in the current IMS organization, including standard namespaces (ECID, Email, Phone) and custom namespaces.
      tags:
      - Identities
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      responses:
        '200':
          description: A list of identity namespaces.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IdentityNamespace'
              examples:
                listIdentityNamespaces200Example:
                  summary: Default listIdentityNamespaces 200 response
                  x-microcks-default: true
                  value:
                  - example
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createIdentityNamespace
      summary: Adobe Experience Platform Adobe Experience Cloud Create an Identity Namespace
      description: Creates a custom identity namespace for use in identity resolution and profile unification. The namespace must have a unique code and name.
      tags:
      - Identities
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityNamespaceInput'
            examples:
              createIdentityNamespaceRequestExample:
                summary: Default createIdentityNamespace request
                x-microcks-default: true
                value:
                  name: Example Name
                  code: example
                  description: example
                  idType: COOKIE
      responses:
        '201':
          description: Identity namespace created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityNamespace'
              examples:
                createIdentityNamespace201Example:
                  summary: Default createIdentityNamespace 201 response
                  x-microcks-default: true
                  value:
                    id: 1
                    code: example
                    name: Example Name
                    description: example
                    idType: abc123
                    standard: true
        '400':
          description: Invalid namespace definition.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    IdentityNamespace:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
        name:
          type: string
        description:
          type: string
        idType:
          type: string
        standard:
          type: boolean
    IdentityNamespaceInput:
      type: object
      required:
      - name
      - code
      - idType
      properties:
        name:
          type: string
        code:
          type: string
        description:
          type: string
        idType:
          type: string
          enum:
          - COOKIE
          - DEVICE
          - CROSS_DEVICE
          - EMAIL
          - PHONE
  parameters:
    sandboxHeader:
      name: x-sandbox-name
      in: header
      required: true
      description: The name of the sandbox to operate in.
      schema:
        type: string
        default: prod
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via Adobe I/O.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Adobe I/O client API key.
