openapi: 3.1.0
info:
  title: Adobe Experience Cloud Adobe Analytics 2.0 Activities Decision Rules API
  description: The Adobe Analytics 2.0 API provides programmatic access to Adobe Analytics reporting, management, and configuration capabilities. It enables developers to retrieve report data, manage report suites, configure calculated metrics, segments, and dimensions, and administer users and permissions within Adobe Analytics. The API uses OAuth 2.0 authentication via Adobe I/O and returns JSON responses.
  version: 2.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/analytics-apis/docs/2.0/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://analytics.adobe.io
  description: Adobe Analytics Production API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Decision Rules
  description: Operations for managing offer eligibility rules
paths:
  /offer/decisionRules:
    get:
      operationId: listDecisionRules
      summary: Adobe Journey Optimizer Adobe Experience Cloud List Decision Rules
      description: Returns a list of decision rules used to define offer eligibility criteria based on profile attributes and context data.
      tags:
      - Decision Rules
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      responses:
        '200':
          description: A list of decision rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionRuleList'
              examples:
                listDecisionRules200Example:
                  summary: Default listDecisionRules 200 response
                  x-microcks-default: true
                  value:
                    decisionRules:
                    - example
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createDecisionRule
      summary: Adobe Journey Optimizer Adobe Experience Cloud Create a Decision Rule
      description: Creates a new decision rule using a PQL expression to define eligibility criteria for offer personalization.
      tags:
      - Decision Rules
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionRuleInput'
            examples:
              createDecisionRuleRequestExample:
                summary: Default createDecisionRule request
                x-microcks-default: true
                value:
                  name: Example Name
                  description: example
                  condition: example
      responses:
        '201':
          description: Decision rule created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionRule'
              examples:
                createDecisionRule201Example:
                  summary: Default createDecisionRule 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Name
                    description: example
                    condition: example
        '400':
          description: Invalid decision rule definition.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DecisionRuleList:
      type: object
      properties:
        decisionRules:
          type: array
          items:
            $ref: '#/components/schemas/DecisionRule'
    DecisionRuleInput:
      type: object
      required:
      - name
      - condition
      properties:
        name:
          type: string
        description:
          type: string
        condition:
          type: string
    DecisionRule:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        condition:
          type: string
  parameters:
    sandboxHeader:
      name: x-sandbox-name
      in: header
      required: true
      description: The sandbox name.
      schema:
        type: string
        default: prod
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via Adobe I/O.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Adobe I/O client API key.
