openapi: 3.1.0
info:
  title: Adobe Experience Cloud Adobe Analytics 2.0 Activities Batches API
  description: The Adobe Analytics 2.0 API provides programmatic access to Adobe Analytics reporting, management, and configuration capabilities. It enables developers to retrieve report data, manage report suites, configure calculated metrics, segments, and dimensions, and administer users and permissions within Adobe Analytics. The API uses OAuth 2.0 authentication via Adobe I/O and returns JSON responses.
  version: 2.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/analytics-apis/docs/2.0/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://analytics.adobe.io
  description: Adobe Analytics Production API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Batches
  description: Operations for batch data ingestion
paths:
  /data/foundation/import/batches:
    post:
      operationId: createBatch
      summary: Adobe Experience Platform Adobe Experience Cloud Create a Batch
      description: Creates a new batch for data ingestion into a specified dataset. Returns a batch ID that can be used to upload files and signal batch completion.
      tags:
      - Batches
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - datasetId
              - inputFormat
              properties:
                datasetId:
                  type: string
                inputFormat:
                  type: object
                  properties:
                    format:
                      type: string
                      enum:
                      - parquet
                      - json
                      - csv
            examples:
              createBatchRequestExample:
                summary: Default createBatch request
                x-microcks-default: true
                value:
                  datasetId: abc123
                  inputFormat:
                    format: parquet
      responses:
        '201':
          description: Batch created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
              examples:
                createBatch201Example:
                  summary: Default createBatch 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    status: loading
                    created: '2025-03-15T14:30:00Z'
                    completed: '2025-03-15T14:30:00Z'
        '400':
          description: Invalid batch configuration.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/foundation/import/batches/{batchId}:
    get:
      operationId: getBatch
      summary: Adobe Experience Platform Adobe Experience Cloud Get Batch Status
      description: Retrieves the current status and metadata for a batch ingestion operation identified by its batch ID.
      tags:
      - Batches
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      - name: batchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Batch status returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
              examples:
                getBatch200Example:
                  summary: Default getBatch 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    status: loading
                    created: '2025-03-15T14:30:00Z'
                    completed: '2025-03-15T14:30:00Z'
        '404':
          description: Batch not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Batch:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
          - loading
          - staging
          - success
          - failed
          - abandoned
        created:
          type: string
          format: date-time
        completed:
          type: string
          format: date-time
  parameters:
    sandboxHeader:
      name: x-sandbox-name
      in: header
      required: true
      description: The name of the sandbox to operate in.
      schema:
        type: string
        default: prod
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via Adobe I/O.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Adobe I/O client API key.
