openapi: 3.2.0
info:
  title: Adobe Experience Cloud Adobe Experience Platform Identities API
  description: The Adobe Experience Platform API provides RESTful access to the core services of Adobe Experience Platform, including data ingestion, unified profile management, identity resolution, dataset management, schema registry, query service, and segmentation. It enables developers to build and manage real-time customer profiles, ingest batch and streaming data, define XDM schemas, and orchestrate data workflows programmatically.
  version: 1.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/experience-platform-apis/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://platform.adobe.io
  description: Adobe Experience Platform Production API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Identities
  description: Operations for identity namespace management
paths:
  /data/foundation/identity/namespaces:
    get:
      operationId: listIdentityNamespaces
      summary: Adobe Experience Platform Adobe Experience Cloud List Identity Namespaces
      description: Returns a list of all identity namespaces available in the current IMS organization, including standard namespaces (ECID, Email, Phone) and custom namespaces.
      tags:
      - Identities
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      responses:
        '200':
          description: A list of identity namespaces.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IdentityNamespace'
              examples:
                listIdentityNamespaces200Example:
                  summary: Default listIdentityNamespaces 200 response
                  x-microcks-default: true
                  value:
                  - example
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createIdentityNamespace
      summary: Adobe Experience Platform Adobe Experience Cloud Create an Identity Namespace
      description: Creates a custom identity namespace for use in identity resolution and profile unification. The namespace must have a unique code and name.
      tags:
      - Identities
      parameters:
      - $ref: '#/components/parameters/sandboxHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityNamespaceInput'
            examples:
              createIdentityNamespaceRequestExample:
                summary: Default createIdentityNamespace request
                x-microcks-default: true
                value:
                  name: Example Name
                  code: example
                  description: example
                  idType: COOKIE
      responses:
        '201':
          description: Identity namespace created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityNamespace'
              examples:
                createIdentityNamespace201Example:
                  summary: Default createIdentityNamespace 201 response
                  x-microcks-default: true
                  value:
                    id: 1
                    code: example
                    name: Example Name
                    description: example
                    idType: abc123
                    standard: true
        '400':
          description: Invalid namespace definition.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    IdentityNamespaceInput:
      type: object
      required:
      - name
      - code
      - idType
      properties:
        name:
          type: string
        code:
          type: string
        description:
          type: string
        idType:
          type: string
          enum:
          - COOKIE
          - DEVICE
          - CROSS_DEVICE
          - EMAIL
          - PHONE
    IdentityNamespace:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
        name:
          type: string
        description:
          type: string
        idType:
          type: string
        standard:
          type: boolean
  parameters:
    sandboxHeader:
      name: x-sandbox-name
      in: header
      required: true
      description: The name of the sandbox to operate in.
      schema:
        type: string
        default: prod
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
