openapi: 3.1.0
info:
  title: Adobe Experience Cloud Adobe Analytics 2.0 Activities Date Ranges API
  description: The Adobe Analytics 2.0 API provides programmatic access to Adobe Analytics reporting, management, and configuration capabilities. It enables developers to retrieve report data, manage report suites, configure calculated metrics, segments, and dimensions, and administer users and permissions within Adobe Analytics. The API uses OAuth 2.0 authentication via Adobe I/O and returns JSON responses.
  version: 2.0.0
  contact:
    name: Adobe Developer
    url: https://developer.adobe.com/analytics-apis/docs/2.0/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://analytics.adobe.io
  description: Adobe Analytics Production API
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Date Ranges
  description: Operations for managing saved date ranges
paths:
  /api/{companyId}/dateranges:
    get:
      operationId: listDateRanges
      summary: Adobe Analytics Adobe Experience Cloud List Date Ranges
      description: Returns a paginated list of saved date ranges available to the authenticated user. Each entry includes the date range ID, name, and definition.
      tags:
      - Date Ranges
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
      - name: page
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: A paginated list of date ranges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DateRangeList'
              examples:
                listDateRanges200Example:
                  summary: Default listDateRanges 200 response
                  x-microcks-default: true
                  value:
                    content:
                    - id: abc123
                      name: Example Name
                      definition: example
                    totalElements: 1
        '401':
          description: Authentication credentials are missing or invalid.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DateRangeList:
      type: object
      properties:
        content:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              definition:
                type: string
        totalElements:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via Adobe I/O.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Adobe I/O client API key.
